{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{/*
  This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
   */}}
<div class="flex-l mt4 mw8 center bg-white">
  <article class="center pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </section>
    <aside class="flex-ns flex-wrap justify-around mt3">
      {{ range .Sections }}
        <div class="relative w-100 pb4 mb4 bb b--black-20">
          {{ .Render "archive-post-snippet" }}
        </div>
      {{ end }}
    </aside>
    {{ template "_internal/pagination.html" . }}
  </article>
</div>
{{ end }}
