{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="cover bg-top">
    <div>
      <div class="tc-l bg-white">
        {{ if $featured_image }}
        <img src="{{ $featured_image }}" alt="$featured_image_desc" />
        {{ else }}
        <img src="/images/bsides_logo_blue.jpg" alt="BSides Zurich logo" />
        {{ end }}
      </div>
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
